*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans",sans-serif,helvetica;
}
html,body{
	height: 100%;
}
body{
	background-color: #e5e5e5;
	text-rendering: optimizeLegibility;
   	font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

:root{
	/* --header-default-bg:  #050407; */
	--header-default-bg:  #1a1a1f;
	/* --left-container-bg:  #0d0b0e; */
	--left-container-bg:  #282828;
	/* --left-container-bg:  rgb(40,40,40); */
	--standard-font-size:  0.9em;
}

header{
	background-color: var(--header-default-bg);
	height:  50px;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
header nav.primary-nav{
	display: none;
	width: 100%;
	margin-top: 49px;
/* 	height: 0; */
/* 	position: relative; */
/* 	overflow: hidden; */
/* 	outline: 1px solid red; */
/* 	animation: showPrimaryNav 1s alternate forwards; */
}
header nav ul{
/* 	outline: 1px solid #ff0; */
	list-style-type: none;
	position: relative;
	background-color: #1a1a1f;
/* 	margin-top: 50px; */
/* 	display: none; */
}

@keyframes showPrimaryNav{
	0%{ height: 0; }
	100%{height: 100%;}
}


header nav ul li{
	display: block;
/* 	outline: 1px solid black; */
}
header nav ul li a{
	display: block;
	padding:  10px 20px;
	text-decoration: none;
	text-transform: capitalize;
/* 	outline: 1px solid #0ff; */
    border-bottom: 1px solid #ffffff1a;
	color:  #e3e4e9;
	font-size:  0.9em;
	letter-spacing: 0.4px;
	position: relative;
	font-family: 'Raleway';
	font-weight: 600;
}
/* header nav ul li a::after{
	content: '';
	position: absolute;
	height:  1px;
	width:  0;
	background:  linear-gradient(45deg, #ff0, #0ff);
	left:  0;
	top:  0;
	transition: all 200ms ease;
} */
/* header nav ul li a:hover::after{
	width:  100%;
} */
header nav ul li:nth-child(4) a{
	padding-right:  18px;
	cursor: pointer;
}
header nav ul li a > span[rel=down-arrow]{
	font-size: 0.7em;
	position: absolute;
	transform: rotate(90deg);
	right:  20px;
	top:  29%;
	transform: rotate(0deg) translateY(2px);
	transition: transform 120ms ease-in;
}

header nav ul li a > span[rel=down-arrow].active{
	transform: rotate(90deg) translateX(2.1px);
}
/* header nav ul li:nth-child(4) a.active::after{
	width:  100%;
} */

/* toggle primary nav styles */

.toggle-nav-box{
/* 	outline: 1px solid #fff; */
	width: 20px;
	float: right;
	height: 21px;
	margin-right: 11px;
	margin-top: 14.5px;
	position: relative;
}
.toggle-nav-box .line{
	height: 1px;
	width: 100%;
	background-color: #ffffffef;
	position: absolute;
}
.toggle-nav-box .line1{
	top: 0;
	transition: all 0.2s ease;
}
.toggle-nav-box .line2{
	top: 33.333333%;
	transition: all 0.2s ease;
}
.toggle-nav-box .line3{
	top: 66.666666%;
	transition: all 0.2s ease;
}



.toggle-nav-box.active .line1{
	transform: rotate(48deg) translate(5px,5px);
	background-color: red;
}
.toggle-nav-box.active .line2{
	display: none;
}
.toggle-nav-box.active .line3{
	transform: rotate(-45deg) translate(4.5px,-5px);
	background-color: red;
}

/* end of toggle primary nav styles */







/* primary nav profile links styles */
ul#profileNav{
/* 	position: absolute; */
	background-color: var(--header-default-bg);
	border:  1px solid #d0d0d050;
/* 	box-shadow: 0 1px 0 1px rgba(10,10,10,0.09); */
/* 	top:  0; */
    margin-top: 0 !important;
/*     padding: none !important; */
	padding:  0 20px;
/* 	border-radius: 4px; */
/* 	cursor: default; */
	display: none;
	width:  100%;
}
/* ul#profileNav *::after{
	content: '';
	position: initial;
	display: initial;
} */
ul#profileNav li{
	width: 100%;
	text-align: center;
/* 	border-radius: 5px; */
}


ul#profileNav li *{
	/* color:  #333; */
}
ul#profileNav li > div.profile-nav-box{
/* 	position: relative; */
/* 	border-radius: 5px; */
	display: flex;
/* 	background-color: rgba(0,0,0,0.2); */
	padding:  0 20px;
	cursor: default;
}
ul#profileNav a{
    border-bottom: none;
    color: #e3e4e9aa !important;
}
ul#profileNav li#profileNavLi{
/* 	outline: 1px solid blue; */
/* 	position: relative; */
/* 	top:  -10px; */
	background-color: rgba(0,0,0,0.25);
	/* display: inline-flex; */
	/* width: 200px; */
/* 	height:  80px; */
/* 	padding: 0; */
	cursor: default;
	border-radius: 3px;
}
ul#profileNav li > div.profile-nav-box img{
	width:  100px;
/* 	height:  60px; */
	border:  1px solid #0000007a;
	border-radius: 50%;
/* 	box-shadow: 0 0 1.5px 0.5px rgba(0,0,0,0.4); */
/* 	position: relative; */
	/* margin-left:  -25px; */
	cursor: default;
/* 	outline:  1px solid blue; */
	margin-top:  -20px;
}

ul#profileNav li > div.profile-nav-box >  #userNameBox{
/* 	outline: 1px solid red; */
/* 	padding: 0; */
/*     margin: 0 !important; */
/* 	width:  100%; */
/* 	height:  100%; */
}
ul#profileNav li > div.profile-nav-box >  #userNameBox h5{
/* 	outline: 1px solid #000; */
/* 	width: 100%; */
	text-align: center;	
/* 	margin-top:  13px; */
/* 	position: relative; */
/* 	left: -16px; */
/* 	text-align: left; */
	cursor: default;
	border: none;
/* 	color:  #333; */
	margin-top:  11px;
/* 	display: block; */
}
ul#profileNav li > div.profile-nav-box >  #userNameBox p{
/* 	outline: 1px solid #a80; */
	text-align: center;
	margin-top:  -7px;
/* 	position: relative; */
/* 	left: -11px; */
/* 	padding: 0; */
}
ul#profileNav li > div.profile-nav-box >  #userNameBox p a{
/* 	display: initial; */
	padding:  0;
	font-size:  0.7em;
	font-weight: bold;
	color:  teal !important;
}
ul#profileNav li > div.profile-nav-box >  #userNameBox p a:focus{
	text-decoration: underline;
}
ul#profileNav li > div.profile-nav-box >  #userNameBox p a::after{
	content: '';
	position: initial;
	display: initial;
}





ul#profileNav hr{
	opacity: 0.6;
	border:  none;
	height:  1px;
	background:  linear-gradient(45deg, transparent, rgba(110,110,110,0.7) , transparent);
}


ul#profileNav li#myResumeLink a, ul#profileNav li#accountLink a{
	color:  #333;
	border-radius: 5px;
	font-size:  0.8em;
}
ul#profileNav li#myResumeLink a:hover, ul#profileNav li#accountLink a:hover{
	color:  #111;
	background-color: rgba(0,0,0,0.03);
}


/* ul#profileNav upper arrow */
/* ul#profileNav::before{
	content: '';
	position: absolute;
	width:  0;
	height:  0;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.2);
	top:  -20px;
	left:  55%;
	border: 10px solid transparent;
	border-bottom:  10px solid #e0e0e0;
} */



/* ============================================================================= */


/* primary logo styles */

header .primary-logo{
	float: left;
/* 	outline: 1px solid #fff; */
	display: flex;
	margin-left:  1.5%;
	padding:  2px 5px;
	margin-top:  4px;
}
header .primary-logo img{
	width:  40px;
	height: 40px;
	border: 2px solid #f0f0f0;
	border-radius: 50%;
	display: none;
}
header .primary-logo h4{
	color:  #e5e5e5;
	line-height: 39px;
	margin-left:  5px;
	font-family:  'Raleway','Roboto',arial;
}



/* search form rules */

.search-form{
	/* outline: 1px solid #fff; */
	float:  left;
	margin-left:  6.3%;
	margin-top:  1%;
	position: relative;
}
.search-form form *{
	outline: none;
}
.search-form form input[type=search]{
/* 	outline: none; */
	appearance: none;
	border:  2px solid rgba(200,200,200,0.05);
	font-size:  0.85em;
	padding:  2px 24px 2px 10px;
	border-radius: 2px;
	font-family: 'Raleway',"Open Sans",sans-serif;
	width:  100px;
	font-weight: 500;
	letter-spacing: 0.5px;
	background-color: rgba(255,255,255,0.79);
	color:  #333;
	transition: all 120ms ease-in;
	margin-top:7px;
}
.search-form form input[type=submit]{
	width:  26px;
	height:  30px;
	position: absolute;
	top:  0px;
	right:  0px;
	border:  none;
	background:  url('images/search-icon.svg') center center no-repeat;
	background-size:  16px;
	background-position-y: 11px;
	opacity: 0.65;
	background-color: rgba(0,0,0,0.2);
}
.search-form form input[type=submit]:hover{
	cursor: pointer;
	opacity: 0.7;
}
.search-form form input[type=search]::placeholder{
	color:  #8a8a8f;
	font-family: 'Raleway',"Open Sans",sans-serif;
}
.search-form form input[type=search]:focus{
	width:  200px;
	background-color: rgba(255,255,255,0.95);
}
.search-form form input[type=search]:focus::placeholder{
	color: #909090;
}


/* left aside style rules */

.left-container .user-info-box {
	/* outline: 1px solid #fff; */
	position: relative;
	margin-top:  24%;
	text-align: center;
	padding:  30px 0 10px 0;
}
.left-container .user-info-box img{
	width:  50%;
	height: auto;
}

/* viewResume and userName common class */
.left-container .user-info-box p.user-info-item{
	color:  rgb(160,160,150);
	text-align: left;
	/* outline: 1px solid orange; */
	/* margin: 3% 0; */
	padding: 8px 0 8px 38px;
	background:  url('images/user_icon_white.png') center left no-repeat;
	background-size: 20px;
	background-position: 10px 8px;
	font-family: 'Roboto','Raleway','helvetica','arial';
	font-size: 0.8em;
	font-weight: 500;
	transition: padding-left 80ms ease-in, background-color 50ms ease-out, background-position-x 80ms ease-out;
}
/* viewResume and userName common class */
.left-container .user-info-box p.user-info-item:hover{
	background-color: rgba(200,200,200,0.1);
	cursor: pointer;
	padding-left: 40px;
	background-position-x: 12px;
}
#userName{
	font-weight: 800;
	border-bottom: 1px dashed rgba(200,200,200,0.09);
}


/* main container styles rules */

/* main-container rules */


section.main-container{
	position: relative;
	height: 100%;
	width: 100%;
	position: fixed;
	top:  0;
	/* display: flex; */
}

.left-container{
	background-color: var(--left-container-bg);
	width:  70%;
	height: 100%;
	position: absolute;
	left:  -100%;
	z-index: 100;
/* 	display: none; */
	transition: left 0.3s ease-out;
}
.left-container.pull-drawer{
	left: 0;
}

.toggle-drawer{
	width: 70px;
	height: 26px;
	position: absolute;
	left: 0%;
	top: 50px;
	background-color: var(--header-default-bg);
	z-index	: 101;
	padding:5px  3px;
	display: flex;
	border-top: 1px solid #e0e0e02f;
	user-select: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.toggle-drawer .text{
	color: #f0f0f0;
	width: 70%;
}
.toggle-drawer .lines{
/* 	background-color: red; */
	width: 30%;
}
.toggle-drawer .line{
	width: 100%;
	background-color: #f0f0f0;
	height: 2px;
	position: relative;
}
.toggle-drawer .line1{
	top: 0;
	width: 51%;
	transform: rotate(45deg) translate(11px,-5px);
}	
.toggle-drawer .line2{
	top: 35.999996%;

}		
.toggle-drawer .line3{
	top: 66.666666%;
	width: 51%;
	transform: rotate(-47deg) translate(10px,6px);
}
.toggle-drawer.active{
	left: 60%;
	top: 9%;
	width: 25px;
	background-color: transparent;
	border-top: none;
	transform: rotate(180deg);
}
.toggle-drawer.active .text{
	display: none;
}
.toggle-drawer.active .lines{
	width: 100%;
}

.right-container{
	height: 100%;
	width:  100%;
	position: absolute;
	right: 0;
	padding-top:  60px;
	overflow-y: auto;
	padding-bottom:  80px;
}

.row{
	/* outline: 1px solid #000; */
	padding:  6px 15px 6px 16px;
}
.row-1{
/* 	outline: 1px solid red; */
	margin-top: 30px;
}
.col{
	background-color: #f5f5f5;
	display: inline-block;
	margin:  1px 4px;
	border-radius: 2px;
	border:  1px solid rgba(50, 50, 58, 0.14);
	/* box-shadow: 0px 3px 1px rgba(0,0,0,0.3); */
}
.col-25\%{
	min-height:  80px;
}
.col-50\%{
	min-height:  300px;
}
.col-33\%{
	min-height:  250px;
}
.col-sm-100\%{
	width: 100%;
}